.container{
   width: 70%;
}
a{
    color: #ffffff !important;
}

.fundo{

background-color: #007bff;

}
.formulario{

    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
 
}

