.container{
   width: 90%;
}
body{
    background-color: #cccccc;
}
#fprinci{
    background-color: white;
    padding: 0%;
}
.fundo{

background-color: #007bff;

}
.formulario{

    margin: 2%;
    padding-bottom: 1%;
 
}



